<div class="p-2 d-flex justify-content-end">
  <button routerLink="/events/create" class="btn btn-primary">Add</button>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>ჩარიცხული</th>
      <th>First name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Event Name</th>
      <th>Event Description</th>
      <th>Event Start Date</th>
      <th>Event End Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of eventSubscribe.data">
      <th>
        <input type="checkbox" id="myCheckbox" [(ngModel)]="myCheckboxState" (change)="onCheckboxChange()">
      </th>
      <th>{{ item.user.firstName }}</th>
      <th>{{ item.user.email }}</th>
      <th>{{ item.user.phoneNumber }}</th>
      <th>{{ item.event.name }}</th>
      <th style="max-width: 500px; height: 250px; overflow-y: hidden;">
        <div style="height: 100%; overflow-y: auto;">
          {{item.event.description}}
        </div>
      </th>
      <th>{{ item.event.startDate | date: 'yyyy-MM-dd' }}</th>
      <th>{{ item.event.endDate | date }}</th>
      <th>
        <button class="btn btn-danger" (click)="deleteItem(item.id)">Remove</button>
      </th>
    </tr>
    <div class="pagination-bot">
      <ngb-pagination
        [collectionSize]="total"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        (pageChange)="pageChangeEvent($event)"
      ></ngb-pagination>

      <hr/>
    </div>
    </tbody>
  </table>
</div>

