<form class="form" [formGroup]="form" (ngSubmit)="submit()">

  <div class="input-group input-group-lg">
    <label>Title</label>
    <input class="login-input" formControlName="title">
  </div>
  <div class="input-group input-group-lg">
    <label for="description">Description</label>
    <textarea type="text" class="login-input" id="description" placeholder="Description" formControlName="description"></textarea>
  </div>
  <div class="input-group input-group-lg">
    <label for="description">category</label>
    <select class="login-input" formControlName="categoryId">
      <option *ngFor="let category of categories$ | async" [value]="category.id">
        {{category.name}}
      </option>
    </select>
  </div>
  <div class="input-group input-group-lg">
    <label for="description">zodiac</label>
    <select class="login-input" formControlName="zodiacoId">
      <option *ngFor="let zodiac of zodiac$ | async" [value]="zodiac.id">
        {{zodiac.name}}
      </option>
    </select>
  </div>

  <button class="btn btn-outline-primary me-2" type="submit">Save</button>
</form>
