<div>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/users" class="nav-link px-2">users</a></li>
      <li><a href="/blogs" class="nav-link px-2">blogs</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">
        <button (click)="signOut()" type="button" class="btn btn-outline-primary me-2">Sign Out</button>
      </ng-container>
      <ng-template #notAuthenticated>
        <div class="btn_menu">
          <button routerLink="/auth/login" type="button" class="btn btn-outline-primary me-2">Login</button>
        </div>
      </ng-template>
    </div>
  </header>
</div>
