<div class="content">
  <form [formGroup]="form" (ngSubmit)="submit()">
<!--    <div class="error-massage" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">-->
<!--      <div class="error-divider"></div>-->
<!--      <h4>Error: Username is required</h4>-->
<!--    </div>-->
<!--    <div class="error-massage" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">-->
<!--      <div class="error-divider"></div>-->
<!--      <h4>Error: Password is required</h4>-->
<!--    </div>-->
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="input-group input-group-lg">
      <label>PLease Enter Your Email Address</label>
      <input class="login-input" type="text" formControlName="email">
    </div>
    <div class="input-group input-group-lg">
      <label>Password</label>
      <input class="login-input" type="password" formControlName="password">
    </div>
    <button class="btn btn-primary w-50 py-2 sing_in" type="submit">Sign in</button>
  </form>
</div>
