<div class="p-2 d-flex justify-content-end">
  <button routerLink="/subscribers/add" class="btn btn-primary">Add</button>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Updated At</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of subscribers">
      <th>{{item?.email}}</th>
      <th>{{item?.active}}</th>
      <th>{{item?.updatedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</th>
      <th>{{item?.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</th>
      <th>
        <button class="btn btn-danger" (click)="deleteItem(item.id)">Remove</button>
      </th>
    </tr>
    </tbody>
  </table>
</div>

