@import "node_modules/bootstrap/scss/bootstrap";

a, h1, h2, h3, h4, h5, h6, p {
  color: black;
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
}
li {
  list-style: none;
}

.content {
  width: 80%;
  margin: 0 auto;
  height: 50px;

}
.login-input {
  width: 345px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  color: black;
  outline: none;

  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
