<div class="p-2 d-flex justify-content-end">
  <button routerLink="/blogs/create" class="btn btn-primary">Add</button>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Deleted at</th>
      <th>Updated at</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of blogs">
      <th>{{ item.title }}</th>
      <th style="max-width: 500px; height: 250px; overflow-y: hidden;">
        <div style="height: 100%; overflow-y: auto;">
          {{ item.description }}
        </div>
      </th>
      <th style="width: 300px; height: 250px">
        <img style="width: 100%; height: 100%;" [src]="'http://207.154.235.181:3000/' + item.files">
      </th>
      <th>{{ item.deletedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</th>
      <th>{{ item.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</th>
      <th>{{ item.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</th>
      <th>
        <button class="btn btn-secondary me-2" [routerLink]="['/blogs/edit', item.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteItem(item.id)">Remove</button>
      </th>
    </tr>
    </tbody>
  </table>
</div>
